$dark-primary-color: #512DA8;
$darker-primary-color: #24144B;
$default-primary-color: #673AB7;
$light-primary-color: #D1C4E9;
$text-primary-color: #FFFFFF;
$accent-color: #448AFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
