body {
    background-color: #5e42a6;
    overflow-y: hidden;
}

.header {
    background-color: #312450;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}

.footer {
    background-color: #312450;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.content {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
}

#directoryList {
    overflow-y: auto;
    width: 100%;
    height: 310px;
}

#consoleList {
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 5px;
}

#removeButton {
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 56px;
    letter-spacing: 4px;
    line-height: 56px;
    padding: 0 28px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#removeButton {
    width: 100%;
}

#savedDirectories {
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 5px;
}

#removeButton:hover {
    background: #00acee;
    border-color: #00acee;
    color: #fff; 
}

.directoryButton {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.15);
	color: #ffffff !important;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
    width: 100%;
	height: 49px;
	letter-spacing: 2px;
	line-height: 49px;
	padding: 0 40px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
    margin-top: 5px;
    display: block;
}

.directoryButton:hover {
	box-shadow: inset 0 0 0 2px #34a58e;
	color: #34a58e !important;
}

#browseButton {
	background-color: #DB3A0D;
	height: 60px;
	display: block;
	width: 60px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 30px;
	border-radius: 100%;
	border: 1px solid #DB3A0D;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 999;
}

#browseButton:hover {
	box-shadow: 0px 0px 4px #b1b1b1;
	background: linear-gradient(0deg, #CC360C, #DB3A0D);
	border: 1px solid #B3320E;
}

#updateAvailable {
    text-align: center;
	background-color: #E5E500;
	height: 60px;
    line-height: 60px;
	display: block;
	width: 60px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 30px;
	border-radius: 100%;
	border: 1px solid #E5E500;
    position: fixed;
    bottom: 130px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

#updateAvailable:hover {
	box-shadow: 0px 0px 4px #b1b1b1;
	background: linear-gradient(0deg, #cece00, #E5E500);
	border: 1px solid #cece00;
}

.hidden {
    display: none !important;
}

#filter {
    text-align: center;
    display: block;
    font-family: Helvetica;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
}